<template>
  <div id="app">
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
    <p><img v-lazy-src="require('./assets/logo.png')" /></p>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
img {
  width: 200px;
  height: 200px;
  display: block;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
